body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #6b6b6b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.mobile__header {
  display: none; }
  @media screen and (max-width: 870px) {
    .mobile__header {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 45px;
      z-index: 999999;
      overflow: hidden;
      transition: .5s;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      transition-delay: 0s;
      background-color: #000; }
      .mobile__header .mobile__menu {
        display: flex;
        min-width: 42px;
        justify-content: space-between;
        margin-top: 4px;
        margin-bottom: 4px; }
      .mobile__header .mobile__submenu {
        display: flex;
        flex-direction: column;
        text-align: right; }
      .mobile__header .logo {
        width: 70pt; }
      .mobile__header a {
        text-decoration: none;
        color: white;
        padding: 15px; }
      .mobile__header a:hover {
        transition-duration: .15s;
        color: #dc7654;
        border-bottom: #dc7654 solid 1px; }
      .mobile__header .mobile__burger__container {
        display: inline-block;
        cursor: pointer;
        margin-right: 20px; }
        .mobile__header .mobile__burger__container .bar1,
        .mobile__header .mobile__burger__container .bar2,
        .mobile__header .mobile__burger__container .bar3 {
          width: 25px;
          height: 2px;
          background-color: #dc7654;
          margin: 6px 0;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
      .mobile__header .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 5px);
        -ms-transform: rotate(-45deg) translate(-6px, 5px);
        transform: rotate(-45deg) translate(-6px, 5px); }
      .mobile__header .change .bar2 {
        opacity: 0; }
      .mobile__header .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -5px);
        -ms-transform: rotate(45deg) translate(-6px, -5px);
        transform: rotate(45deg) translate(-6px, -5px); } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #000; }
  @media screen and (max-width: 870px) {
    header {
      display: none; } }
  header .menu {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 100%; }
    @media screen and (max-width: 870px) {
      header .menu {
        flex-direction: column;
        height: 100px; } }
  header .logo {
    width: 70pt;
    height: 30pt;
    margin-left: 5px;
    margin-right: 20px; }
  header img {
    align-content: center; }
  header img:hover {
    cursor: pointer; }
  header a {
    text-decoration: none;
    color: white;
    padding: 15px; }
  header a:hover {
    transition-duration: .15s;
    color: #dc7654;
    border-bottom: #dc7654 solid 1px; }
  header .authorization {
    margin-right: 10px;
    display: flex;
    min-width: 160px;
    justify-content: flex-end;
    align-items: center;
    height: 100%; }
    @media screen and (max-width: 870px) {
      header .authorization {
        flex-direction: column;
        height: 100px; } }
    header .authorization i {
      color: white; }
    header .authorization .fa-user::before {
      color: white;
      font-size: 20px;
      padding: 10px;
      cursor: pointer; }
    header .authorization .fa-user:hover::before {
      color: #dc7654; }

main {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative; }
  @media screen and (max-width: 590px) {
    main {
      height: auto; } }
  main video {
    display: flex;
    width: 100%;
    height: 100%; }
  main .video__text {
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    position: absolute;
    text-align: center;
    line-height: 35px;
    top: 50%;
    left: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
    border-radius: 5px; }
    @media screen and (max-width: 270px) {
      main .video__text {
        width: 100%; } }
    main .video__text input {
      width: 50%;
      padding: 5px;
      margin-top: 5%;
      outline: none;
      color: black; }
      main .video__text input:focus {
        transition: .4s;
        border-radius: 3px;
        background: #dc7654;
        border: none;
        border-bottom: solid white 2px; }
      @media screen and (max-width: 600px) {
        main .video__text input {
          width: 100%;
          padding: 0;
          margin: 0; } }
    main .video__text button {
      width: 30%;
      font-size: 18px;
      padding: 5px;
      margin-top: 5%;
      border-radius: 3px;
      background: #dc7654;
      border: none;
      cursor: pointer;
      outline: none; }
      main .video__text button:active {
        background: white; }
      @media screen and (max-width: 600px) {
        main .video__text button {
          padding: 0;
          font-size: 10px;
          width: 100%; } }
    main .video__text span {
      cursor: pointer;
      border-bottom: 2px solid; }
    main .video__text h1,
    main .video__text p {
      padding: 10px;
      color: white; }
    main .video__text h1 {
      font: 600;
      font-size: 36px; }
      @media screen and (max-width: 578px) {
        main .video__text h1 {
          font-size: 18px;
          line-height: 2px; } }
      @media screen and (max-width: 390px) {
        main .video__text h1 {
          font-size: 14px;
          line-height: 1px;
          padding: 4px; } }
    main .video__text p {
      font: 600;
      font-size: 24px; }
      @media screen and (max-width: 578px) {
        main .video__text p {
          font-size: 14px;
          line-height: 2; } }
      @media screen and (max-width: 390px) {
        main .video__text p {
          font-size: 8px;
          padding: 2px; } }
  main .errors {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px; }
    @media screen and (max-width: 390px) {
      main .errors p {
        font-size: 8px;
        padding: 2px; } }

footer {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  background: #000;
  line-height: 25px; }
  @media only screen and (max-width: 768px) {
    footer {
      flex-direction: column; } }
  footer .footer__info,
  footer .about {
    margin: 10px;
    width: 20%; }
    @media screen and (max-width: 390px) {
      footer .footer__info,
      footer .about {
        width: 100%; } }
    footer .footer__info h1,
    footer .footer__info p,
    footer .footer__info a,
    footer .about h1,
    footer .about p,
    footer .about a {
      text-decoration: none;
      color: white; }
      @media screen and (max-width: 578px) {
        footer .footer__info h1,
        footer .footer__info p,
        footer .footer__info a,
        footer .about h1,
        footer .about p,
        footer .about a {
          font-size: 14px;
          line-height: 2; } }
      @media screen and (max-width: 390px) {
        footer .footer__info h1,
        footer .footer__info p,
        footer .footer__info a,
        footer .about h1,
        footer .about p,
        footer .about a {
          font-size: 8px; } }
    footer .footer__info a:hover,
    footer .about a:hover {
      transition-duration: .15s;
      color: #dc7654;
      border-bottom: #dc7654 solid 1px; }
    footer .footer__info h1,
    footer .about h1 {
      font-size: 24px; }
      @media screen and (max-width: 390px) {
        footer .footer__info h1,
        footer .about h1 {
          font-size: 10px; } }
